#wrap{
    width: 528px;
    height: 299px;
    border: 1px solid ;
    margin: 100px auto;
    overflow: hidden;
}
.slide{
    float: left;
    height: 280px;
    width: 210px;
    overflow: hidden;
    padding: 10px 10px 9px 10px;
}
.slide .tab-img{
    text-align: center;
    display: none;
}
#wrap .slide img{
    height: 280px;
    width: 210px;
}
.slide .current{
    display: block;
}
.info{
    float: right;
    width: 295px;
}
.info .tab-list {
    border-bottom: 1px solid #d8d8d8;
}
.info .tab-list .tab-title{
    padding: 0 30px 0 10px;
    background: url("../images/bg-1.gif") repeat-x;
    line-height: 36px;
    font-size: 14px;
}
.info .tab-list .tab-title a{
    display: block;
    width: 255px;
    height: 36px;
}
.info .current .tab-title{
    background: url("../images/bg-2.gif") no-repeat;
    margin-left: -19px;
    padding-left: 29px;
    position: relative;
}
.info .current .tab-title a{
    color: #fff;
}
.info .current .tab-title span{
    margin-left: 10px;
    color:#e7d6d7;
}

.info .tab-text{
    display: none;
}
.info .current .tab-text{
    display: block;
    padding: 10px 20px;
    background-color:#f8efe7;
    overflow: hidden;
}
.r{
    text-align: right;
}