.pannel{
    width: 400px;
    margin: 50px auto;
    border: 1px solid #e9e9e9;
}
.pannel .col{
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.title{
    height: 50px;
    color: #9b9b9b;
    border-bottom:1px solid #e9e9e9;
}
.title .col{
    border-left: 1px solid #e9e9e9;
}
.title .col-1{
    width: 107px;
    border-left: none;
}
.title .col-2{
    width: 80px;
}
.title .col-3{
    width: 100px;
}
.title .col-4{
    width: 110px;
}
#scroll{
    height: 600px;
    overflow: hidden;
    position: relative;
}
#scroll ul{
    width: 400px;
}
#scroll p{
    height: 50px;
}
#scroll col{
    color: #555;
    padding-left: 1px;
}
#scroll .col-1{
    width: 107px;
}
#scroll .col-2{
    width: 80px;
}
#scroll .col-3{
    width: 100px;
}
#scroll .col-4{
    width: 110px;
}
#scroll .first{
    color: #f00;
}
#scroll  li:nth-child(2n+1){
    background: #f4f4f4;
}
#scroll a:hover{
    color: #f00;
    text-decoration: underline;
}
#scroll .col-4 a{
    display:inline-block;
    height: 24px;
    width: 99px;
    line-height: 24px;
    background: #0f94d9;
    color: #fff;
    border-radius: 4px;
}