/* -- reset start -- */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal;
}
ol,ul {
    list-style:none;
}
a {
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline-width: 0;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
img {
    border: none;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* ---reset end---*/
/* --common start--*/
.wp{
    width: 1000px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}

/* ---header ---*/
body{
    background: #fff;
    font:12px/1.3 Microsoft Yahei,tahoma,HELVETICA;
    color:#555;
}
.header{
    text-align: center;
    overflow: hidden;
}
.header a{
    color: inherit;
}
.header-top{
    height: 72px;
    line-height: 72px;
    padding: 15px 0;
    overflow: hidden;
}
.header-top .logo{
    width: 242px;
    height: 72px;
    font-size: 0;
    overflow: hidden;
}
.search{
    margin: 0 0 0 8px;
    position: relative;
}
.search .text{
    width: 120px;
    height: 16px;
    line-height: 27px;
    padding: 5px 40px 5px 10px;
    outline: none;
    border: 1px solid #b7b7b7;
    border-radius: 12px;
}
.search .search-btn{
    display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    top:27px;
    right: 12px;
    background: url("../images/common/btn.png") no-repeat 0 0;
}
.topbar a{
    float: left;
    margin: 0 14px;
    text-transform: uppercase;
}
.topbar span{
    float: left;
}
.topbar a:hover{
    text-decoration: underline;
}
.menubox{
    width: 100%;
    height: 50px;
    border-top: 1px solid #d9d9d9;
    background: url("../images/common/menu-bg.png") repeat-x left top;
}
.menubox .nav{
    float: left;
}
.nav li{
    float: left;
}
.nav li+li{
    margin-left: 40px;
}
.nav a{
    display: block;
    width: 90px;
    font-size: 16px;
    line-height: 50px;
}
.nav a:hover{
    color: #50a7e1;
}

/*--banner S--*/
.banner{
    width: 100%;
    height: 430px;
    overflow: hidden;
    position: relative;
}
.scrollbox{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.scrollbox li{
    height: 430px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.scrollbox li:first-child{
    display: block;
}
.scroll-tab{
    height: 8px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0;
    text-align: center;
}
.scroll-tab a{
    display: inline-block;
    height: 8px;
    line-height: 8px;
    width: 200px;
    background: #fff;
}
.scroll-tab .active{
    background:  #1870aa;
}
.banner .btn{

    position: absolute;
    top: 50%;
    display: none;
    margin-top: -32px;
    width: 64px;
    height: 64px;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 64px;
    background: #1870aa;
}
.next{
    right: 0;
}
.prev{
    left: 0;
}
.banner:hover .btn{
    display: block;
}
.btn:hover{
    background: #0aa;
}
/*  news */
.news-tips{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #d9d9d9;
    background: url("../images/index/news-bg.png") no-repeat 0 0;
}
.news-tips span{
    float: left;
    padding: 0 18px;
    color: #6c6c6c;
}
.news-tips .first{
    color: #fe7e17;
    padding: 0 0 0 8px;
}
.news-tips a{
    color: inherit;
}
/*--main S---*/
.main .wp{
    overflow: hidden;
}
.main .section{
    margin: 20px 0;
    text-align: center;
}
.main .pro{
    height: 180px;
    color: #fff;
    overflow: hidden;
}
.pro ul{
    margin: 0 -10px 0 -10px;
}
.pro li{
    width: 320px;
    height: 180px;
    line-height: 28px;
    float: left;
    margin:0 10px;
}
.pro1{
    background: url("../images/index/578.png") no-repeat 0 0;
}
.pro2{
    background: url("../images/index/268.png") no-repeat 0 0;
}
.pro3{
    background: url("../images/index/580.png") no-repeat 0 0;
}
.pro h2{
    padding-top: 110px;
    font-size: 24px;
}
.pro p{
    font-size: 13px;
}

/* --section 2--*/
.content{
    overflow: hidden;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
}
.content .title{
    height: 50px;
    line-height: 52px;
    border-bottom: 1px dotted #bababa;
}
.content .title h3{
    float: left;
    font-size: 18px;
}
.content .about{
    width: 650px;
    padding: 15px;
}
.content .title a{
    float: right;
    padding-left: 15px;
    color: inherit;
    text-transform: uppercase;
    position: relative;
}
.content .title a:before{
    content: "";
    display: block;
    width: 10px;
    height: 9px;
    position: absolute;
    left: 0;
    top: 21px;
    background: url("../images/index/more.png") no-repeat 0 0;
}
.content .title a:hover{
    color: #99CC00;
}
.main-con{
    text-align: justify;
    text-indent: 24px;
    padding: 14px 0 0;
}
.main-con p{
    line-height: 30px;
}
.main-con img{
    float: left;
    width: 234px;
    vertical-align: middle;
    margin-top: 9px;
    margin-right: 16px;
}
.content .service{
    width: 290px;
    height: 206px;
    padding-top: 185px;
    padding-left: 30px;
    text-align: left;
    background: url("../images/index/service.png") no-repeat 0 0;
}
.service .tel{
    height: 34px;
    line-height: 34px;
    margin: 20px 0 14px 0;
    padding-left: 58px;
    background: url("../images/index/tel.png") no-repeat 0 0;
}
.service .tel a{
    font-size: 30px;
    color: #ff8b09;
}
.service p{
    color: #868484;
    font-size: 14px;
    line-height: 26px;
}
.service .professor{
    margin-top: 24px;
    height: 38px;
}
.service .professor a{
    float: left;
    margin-left: 10px;
    display: block;
    width: 244px;
    height: 31px;
    background: url("../images/index/juery.png") no-repeat 0 0;
}
/*  section 3*/
.case{
    height: 301px;
}
.case li{
    float: left;
    width: 200px;
    height: 301px;
    position: relative;
}
.case li a{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 85px;
    padding-top: 26px;
    line-height: 24px;
    color: #fff;
    font-size: 14px;
    background: rgba(0,0,0,.5);
}
.case li .app{
    height: 66px;
    padding-top: 48px;
}
.case .item1{
     background: url("../images/index/case/1.png") no-repeat 0 0;
 }
.case .item2{
    background: url("../images/index/case/2.png") no-repeat 0 0;
}
.case .item3{
    background: url("../images/index/case/3.png") no-repeat 0 0;
}
.case .item4{
    background: url("../images/index/case/4.png") no-repeat 0 0;
}
.case .item5{
    background: url("../images/index/case/5.png") no-repeat 0 0;
}
    /* ----footer Start*/
.footer{
    height: 158px;
    padding-top: 32px;
    overflow: hidden;
    color: #838383;
    background: #2e3235;
}
.footer-info{
    width: 680px;
    margin-top: 4px;
}
.footer-info a{
    color: inherit;
}
.footer-info a:hover{
    color: #0f94d9;
    text-decoration: underline;
}
.footer-info p{
    font-size: 12px;
    line-height: 24px;
}
.footer-info p.last{
    margin-top: 16px;
    padding-top: 14px;
    border-top: 1px solid #838383;
}

.footer .two-code{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.two-code img{
    width: 100%;
}
.footer  .share{
    display: inline-block;
}
.share a{
    margin-right: 5px;
}
@font-face {font-family: "iconfont";
    src: url('iconfont.eot?t=1490350889514'); /* IE9*/
    src: url('iconfont.eot?t=1490350889514#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1490350889514') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1490350889514') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1490350889514#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-weibo:before { content: "\f0085"; }

.icon-qq:before { content: "\e648"; }

.icon-icon05:before { content: "\e603"; }
.share .icon{
    font-size: 24px;
    line-height: 100px;
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #6d7174;
    color:#6d7174;
}
.share .icon:hover{
    color: #ccc;
    border-color: #ccc;
}
