/*
* reset style
*/

html {
    font-family: sans-serif; /* 1 */
    line-height: 1.15; /* 2 */
    -ms-text-size-adjust: 100%; /* 3 */
    -webkit-text-size-adjust: 100%; /* 3 */
}
*{
    box-sizing: border-box;
}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,p,blockquote,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;font-weight:normal;
}
ol,ul {
    list-style:none;
}
a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}
a:active,
a:hover {
    outline-width: 0;
}
button{
    cursor: pointer;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
img {
    border-style: none;
}
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}

/*
*  common style 公共样式 及部分模板样式
*/
.icon_list_menu{
    position: absolute;
    top: 0;
    left: 28%;
    width: 140px;
    height: 50px;
    font-size: 0;
    display: none;
    transition: all .4s;
    z-index: 7;
}
.songlist_list li:hover .icon_list_menu{
    display: block;
}
.icon_commom_menu{
    font-size: 0;
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 5px;
    margin-top: 7px;
    background: url("../images/icon_list_menu.png") no-repeat;
}
.player_songlist_check{

}
.icon_list_menu .icon_list_menu_play{
    background-position: 0 0;
}
.icon_list_menu .icon_list_menu_play:hover{
    background-position: -40px 0 ;
}
.icon_list_menu .icon_list_menu_add{
    background-position: 0 -80px;
}
.icon_list_menu .icon_list_menu_add:hover{
    background-position: -40px -80px;
}
.icon_list_menu .icon_list_menu_download{
    background-position: 0 -120px;
}
.icon_list_menu .icon_list_menu_download:hover{
    background-position: -40px -120px;
}
 .icon_list_menu_delete{
    background-position: 0 -160px;
}
.icon_list_menu_delete:hover{
    background-position: -120px -160px;
}

.player_song_list .icon_list_menu .icon_list_menu_play{
    background-position: -80px 0 ;
}
.player_song_list .icon_list_menu .icon_list_menu_play:hover{
    background-position: -120px 0 ;
}
.player_song_list .icon_list_menu .icon_list_menu_add{
    background-position: -80px -80px;
}
.player_song_list .icon_list_menu .icon_list_menu_add:hover{
    background-position: -120px -80px;
}
.player_song_list .icon_list_menu .icon_list_menu_download{
    background-position: -80px -120px;
}
.player_song_list .icon_list_menu .icon_list_menu_download:hover{
    background-position: -120px -120px;
}
.player_song_list .icon_list_menu .icon_list_menu_delete{
    background-position: -80px -160px;
}
.player_song_list .icon_list_menu .icon_list_menu_delete:hover{
    background-position: -120px -160px;
}
.player_song_list .icon_list_menu .icon_list_menu_play.icon_list_menu_play_current{
    background-position: 0 -200px;
}
.player_song_list .icon_list_menu .icon_list_menu_play.icon_list_menu_play_current:hover{
    background-position:-120px -200px;
}
/*
*  ***********page style
***/
html,body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    /*background: rgba(45,46,47,.4);*/
    overflow: hidden;
    color: #f1f1f1;
    background: #292a2b;
}

/*
*  bg_player
*/
.bg_player,.bg_player:after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bg_player{
    opacity: .8;
    background-size: cover;
    -webkit-filter: blur(65px);;
    filter: blur(65px);
    transform: translateZ(0);
}
.bg_player:after{
    content: "";
    display: block;
    background-color: rgba(0,0,0,.2);
    z-index: 4;
}

/*
*  header style
*/

.header{
    width: 100%;
    height: 12%;
    line-height: 100%;
    position: relative;
}
.header .logo{
    float: left;
    width: 78px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    transform: translate(30px,20px);
    opacity: 0.8;
}
.header .pannel-btn{
    float: right;
    margin: 8px 15px 0 15px;
    width: 35px;
    height: 35px;
    transform: translateY(50%);
}
.header .search_pannel_btn{
    margin-right: 180px;
    background: #ff0000;
    position: relative;
    opacity: 0.8;
    background: rgba(0,0,0,.1);
}
.header .search_pannel_btn:hover{
    opacity: 1;
}
.search_pannel_btn:before,.search_pannel_btn:after{
    content: "";
    position: absolute;
    display: block;
    border: 3px solid #fff;
}
.search_pannel_btn:before{
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
 }
.search_pannel_btn:after{
    top: 22px;
    left: 22px;
    transform: rotate(40deg);
    transition: width .1s;
}
.header .music_pannel_btn{
    background-image: url(../images/play_menu.png);
    background-size: contain;
}

/*
*  player_mod 音乐
*/
.player_mod{
    position: relative;
    width: 84%;
    height: 88%;
    margin: 0 auto;
}
.player_mod .player_mod_body{
    height: 78%;
    position: relative;
}
.player_mod_body .player_style_normal{
    margin-right: 300px;
    opacity: .8;
    height: 100%;
}
.player_mod_body .player_songlist_toolbar{
    padding-bottom:20px;
    margin-right: 15px;
    line-height: 50px;
    height: 14%;
    overflow: hidden;
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.player_mod_body .song_toolbar_btn{
    color: inherit;
    /*opacity: .6;*/
    float: left;
    background:transparent;
    border: 1px solid rgba(255,255,255,.3);
    padding: 0 35px;
}
.player_mod_body .song_toolbar_btn:hover{
    color: #fff;
    border-color: #fff;
    opacity: 1;
}
.player_mod_body .song_toolbar_btn+.song_toolbar_btn{
    margin-left: 10px;
}
.player_mod_body .player_song_edit{
    height: 84%;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.player_mod_body .scrollable{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 104%;
    position: relative;
}
.player_mod_body .mod_scroll_edit {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.player_mod_body .mod_scroll_edit .scroll_viewport{
    position: relative;
    height: auto;
}
.player_mod_body .player_song_list .player_song_hd{
    position: relative;
    height: 50px;
    line-height: 50px;
    width: 96%;
}
.player_mod_body .player_song_hd li{
    float: left;
    overflow: hidden;
}
.player_mod_body  .player_songlist_check{
    width: 10%;
    height: 100%;
    position: relative;
}
.player_mod_body  .player_songlist_name{
    width: 55%;
    padding-right: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: normal;
    cursor: inherit;
}
.player_mod_body .songlist_list li:hover .player_songlist_name{
    padding-right: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: normal;
}
.player_mod_body  .player_songlist_singer{
    width: 20%;
}
.player_mod_body  .player_songlist_time{
    position: relative;
    width: 15%;
}

.player_song_list .songlist_list{
    position: relative;
    padding-left: 0;
}
.player_song_list .songlist_list li{
    border-top: 1px solid rgba(255,255,255,.1)
}
.player_song_list .songlist_list li:last-child{
    border-bottom: 1px solid rgba(255,255,255,.1)
}
.player_song_list .songlist_list li:hover{
    opacity: 1;
}
.player_song_list .songlist_list a:hover{
    color: #fff;
    opacity: 1;
}
.player_mod_body .player_songlist_check .song_list_checkbox{
    width: 18px;
    height: 18px;
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
}
.player_mod_body .player_songlist_check .song_edit_check{
    display: inline-block;
    height: 18px;
    width: 18px;
    border: 1px solid rgba(225,225,225,.2);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.player_mod_body .player_songlist_check .song_has_checked{
    border-color: #fff;
}
.player_mod_body .player_songlist_check .song_has_checked:before{
    content: "";
    position: absolute;
    top: 1px;
    left: 4px;
    display: block;
    height: 8px;
    width: 4px;
    border: 1px solid #fff;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: rotate(45deg);
}
.player_mod_body .player_songlist_check .song_edit_check:hover{
    border-color:#fff
}
.player_list_item .song_list_number{
    float: right;
    margin-right: 10px;
}
.player_list_item .wave{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: url("../images/wave.gif") no-repeat;
    font-size: 0;

}
.player_list_item{
    float: left;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
 .player_list_item a:hover{
    color: #31c27c
}
.player_song_list .icon_list_menu{
    left: 40%;
}
.player_songlist_time .icon_list_menu_delete{
    display: none;
    margin: 0;
}
.songlist_list li:hover .icon_list_menu_delete{
    display: block;
    position: absolute;
    left: -2px;
    top: 6px;
}
.songlist_list li:hover .player_songlist_time{
    font-size: 0;
}
    /*
        模拟滚动条
    */

.scroll_area{
    position: absolute;
    top: 0;
    right: 2px;
    width: 7px;
    height: 100%;
    background: transparent;
    cursor: pointer;
}
.scroll_area:hover{
    width: 9px;
}
.scroll_area .srcoll_bar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0,0,0,.1);
    opacity: .5;
    filter:alpha(opacity=50);
    border-radius: 4px;
}
.scroll_area .srcoll_bar:hover{
    background: rgba(0,0,0,.7);
}


    /*
     纯净模式
    */

.player_style_only{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: hidden;
}
.mod_only_lyric {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: -30px;
    margin-top: 68px;
    overflow-y: auto;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    text-align: center;
    font-size: 22px;
    color: #fff;
    -webkit-mask-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 15%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,.6) 85%,rgba(255,255,255,0) 100%);
}
.mod_only_lyric .song_info_lyric_inner p{
    font-size: 20px;
    transition: all 0.2s;
    opacity: .8;
}
.mod_only_lyric .song_info_lyric_inner .on{
    opacity: 1;
    font-size: 32px;
    line-height: 68px;
}
/*
    右侧信息 mod_song_info
    */
.mod_song_info{
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}
.mod_song_info .song_detail_info .song_info__cover{
    display: block;
    margin: 0 auto 15px;
    width: 186px;
    height: 186px;
    position: relative;
}
.mod_song_info .song_detail_info .song_info__cover:after{
    content: "";
    position: absolute;
    top: 0;
    left: 9px;
    width: 210px;
    height: 180px;
    background: url("../images/album_cover_player.png") no-repeat;
}
.mod_song_info .song_detail_info .song_info__cover .song_album_pic{
    width: 186px;
    height: 186px;
}
.mod_song_info .song_detail_info .song_info_common{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 36px;
    line-height: 36px;
}
.mod_song_info .song_detail_info .song_info_common a{
   color: rgba(255,255,255,.8);
}

.mod_song_info .song_info_lyric{
    position: absolute;
    top: 315px;
    bottom: 50px;
    font-size: 14px;
    left: 0;
    width: 100%;
    height: 170px;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.6) 15%,rgba(255,255,255,1) 25%,rgba(255,255,255,1) 75%,rgba(255,255,255,.6) 85%,rgba(255,255,255,0) 100%);
}


/*歌词公共部分
*/
.song_info_lyric_inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin-top: 68px;
    line-height: 34px;
    transition: all 0.1s ease;
}
.song_info_lyric_inner p{
    line-height: 34px;
    text-align: center;
}
 .song_info_lyric_inner .on{
    color: #31c27c;
     font-weight: 600;
}



    /*<!--控制器开始-->
    */
.player_mod .player_mod_footer{
    width: 70%;
    height: 22%;
    margin: 0 auto;
}

.player_mod_footer .player_music{
    position: relative;
    width: 100%;
    height: 55px;
}
.player_music_bar{
    height: 25px;
    overflow: hidden;
}
.player_music_info{
    float: left;
    height: 25px;
    line-height: 25px;
    margin-right: 40px;
    text-indent: 10%;
}
.player_music_time{
    position: absolute;
    top: 0;
    right: 10%;
}
.player_music_progress{
    padding-top: 8px;
    width: 100%;
    height: 25px;
    cursor: pointer;
    position: relative;
}
.player_music_progress .player_progress_ready{
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,.2);
}
.player_music_progress .player_progress_play{
    position: absolute;
    top: 8px;
    left: 0;
    height: 2px;
    background: rgba(255,255,255,.5);
}
.player_progress_current{
    height: 10px;
    width: 10px;
    position: absolute;
    top: -4px;
    left: 100%;
    transform: translateX(-4px);
    border-radius: 50%;
    background: #fff;
}

.player_music_controls{
    width: 700px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
.music_txt{
    font-size: 0;
}
.music_loop,.music_prev,.music_next,.music_play,.music_list,.music_love,.music_only,.music_voice{
    float: left;
    margin-right: 45px;
    background-image: url("../images/player.png");
    opacity: .8;
}
.music_loop:hover,.music_prev:hover,.music_next:hover,.music_play:hover,.music_list:hover,.music_love:hover,.music_only:hover,.music_voice:hover{
    opacity: 1;
}
.player_music_controls .music_loop{
    margin-top: 23px;
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
}
.player_music_controls .music_loop_normal{
    margin-top: 23px;
    width: 26px;
    height: 25px;
    background-position: 0 -205px;
}
.player_music_controls .music_loop_next{
    margin-top: 23px;
    width: 25px;
    height: 19px;
    background-position: 0 -260px;
}
.player_music_controls .music_loop_random{
    margin-top: 23px;
    width: 25px;
    height: 19px;
    background-position: 0 -74px;
}
.player_music_controls .music_loop_only{
    margin-top: 23px;
    width: 26px;
    height: 25px;
    background-position: 0 -232px;
}
 .music_love{
     margin-top: 25px;
    width: 23px;
    height: 21px;
    background-position: 0 -96px;
}
 .music_prev,.music_play,.music_next{
     background:url(../images/play_controls_btn.png)  no-repeat;
 }

.music_prev{
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background-position:0 -50px;
}
.music_play{
    width: 70px;
    height: 70px;
    background-position:0 -170px;
    /* background-position:0 -100px; 暂停
    */
    background-size: cover;
}
.music_next{
    margin-top: 12px;
    width: 50px;
    height: 50px;
    background-position:0 0;
}
.music_only{
    margin-top: 22px;
    width: 74px;
    height: 26px;
    background-position: 0 -282px;
}
.music_voice{
    width: 26px;
    height: 21px;
    margin-top: 24px;
    margin-right: 15px;
    background-position: 0 -144px;
}

.music_voice_progress{
    float: left;
    margin-top: 30px;
    padding-top: 3px;
    height: 9px;
    width: 90px;
    position: relative;
    cursor: pointer;
}
.player_progress_ready{
    height: 2px;
    width: 90px;
    background: rgba(255,255,255,.1);
}
.voice_progress_bar{
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgba(255,255,255,.5);
 }
.voice_progress_bar .voice_progress_bar_current{
    position: absolute;
    top: -4px;
    right: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,.9);
}
/*
*  search_pannel  style 侧栏搜索
*/
.search_pannel{
    position: fixed;
    top: 0;
    left: -82%;
    width: 82%;
    height: 100%;
    box-shadow: 1px 0 2px rgba(0,0,0,.3),2px 0 5px rgba(0,0,0,.1);
    transition: all .3s cubic-bezier(0.62, 0.62, 0.5, 0.73);
    background: rgba(0,0,0,.4);
    z-index: 99999;
}
.search_pannel.search_show{
    left: 0;
}
.search_pannel .search_text{
    width: 90%;
    height: 60px;
    margin: 30px auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
}
 .search_text .search_text_input{
    width: 100%;
    height: 60px;
     font-size: 20px;
    padding: 0 70px 0 20px;
    border: none;
}
.search_text .search_text_btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 60px;
    background: #31c27c;
    border: none;
    cursor: pointer;
    outline: none;
}
.search_text .search_text_btn:hover{
    background: #1d9b5e;
}
.search_text .search_text_btn:before,
.search_text .search_text_btn:after{
    content: "";
    display: block;
    position: absolute;

}
.search_text .search_text_btn:before{
    top: 14px;
    left: 24px;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
}
.search_text .search_text_btn:after{
    top: 36px;
    left: 44px;
    width: 20px;
    background: #fff;
    height: 3px;
    transform: rotate(40deg);
}
.search_song_panel{
    width: 90%;
    height: 85%;
    margin: 0 auto;
    padding: 20px 0 40px;
    color: #666;
    background-color: #fff;
}
.search_song_toolbar{
    margin: 0 auto 20px;
    padding-left:20px;
    line-height: 40px;
    overflow: hidden;
}
.search_song_toolbar .song_toolbar_btn{
    color: inherit;
    float: left;
    margin-right: 10px;
    display: block;
    border: 1px solid #c9c9c9;
    padding: 0 30px;
}
.search_song_toolbar .song_toolbar_btn:hover{
    background: #f7f7f7;
}
.search_song_list{
    overflow: hidden;
    position: relative;
}
.search_song_list .songlist_hd{
    padding:0 20px;
    height: 50px;
    line-height: 50px;
    background: #fbfbfb;
    color: #888;
    overflow: hidden;
}
.search_song_list .songlist_hd li{
    float: left;
}
.search_song_list .songlist_hd li+li{
    padding-left: 20px;
}
.search_song_panel .songlist_name{
    width: 40%;
}
.search_song_panel .songlist_name{
    padding-right: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: normal;
}
.search_song_panel .songlist_singer{
    width: 18%;

}
.search_song_panel .songlist_album{
    width: 30%;

}
.search_song_panel .songlist_time{
    width: 12%;
}

.songlist_list{
    padding-left: 20px;
}
.songlist_list li{
    width: 96%;
    height: 50px;
    font-size: 14px;
    position: relative;
}
.songlist_list .odd{
    background: #fbfbfd;
}
.songlist_list .songlist_item{
    float: left;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-spacing: normal;
    cursor: pointer;
}
.songlist_list .songlist_item a{
    color: inherit;
}
.songlist_list .songlist_item a:hover{
    color: #31c27c
}
.songlist_list .songlist_item+.songlist_item{
    padding-left: 25px;
}

.search_song_list .page_nav{
    margin: 10px 0;
    /*background: red;*/
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.search_song_list .page_nav a,.search_song_list .page_nav span{
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
    padding: 0 20px;
    line-height: 50px;
}
.search_song_list .page_nav a.current,.search_song_list .page_nav a:hover{
    color: #fff;
    background: #31c27c;;
}
.search_song_list .page_nav a:hover{
    opacity: .8;
    filter: alpha(opacity=80);
}

/*
*  mask
*/
.player_mask{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 9999;
}

