.header{
    height: 80px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.logo{
    height: 40px;
    width: 205px;
    float: left;
    margin: 20px 50px 0 0;
    position: relative;
}
.logo a{
    display: block;
    height: 40px;
    width: 205px;
    text-indent: -9999px;
    background: url("../images/logo.png") no-repeat;
}
#nav{
    float: left;
    position: relative;

}
#nav .item{
    float: left;
    position: relative;
}
#nav li a{
    float: left;
    display: block;
    line-height: 80px;
    font-size: 16px;
    color: #333;
    padding: 0 20px;
    border-left: 1px solid #eee;
    position: relative;
}
#nav li a:last-child{
    border-right: 1px solid #eee;
}
#nav li a.icon{
    padding: 0 30px 0 20px;
}
#nav li .icon i{
    display: block;
    border:4px solid;
    border-color: #333 #fff #fff;
    position: absolute;
    top: 38px;
    right: 15px;
    width: 0;
    height: 0;
    -webkit-transition: transform .3s;
    -moz-transition:transform .3s;
    -ms-transition: transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transform: rotate(0deg);
}
#nav li a:hover{
    color: #388ddf;
}
#nav li .icon:hover i{
    border-color: #388ddf #fff #fff;
    transform: rotate(180deg);
    transform-origin:50% 30% ;
}
#nav .sub-nav{
    position: absolute;
    top: 80px;
    left: 0;
    height: 0;
    overflow: hidden;
}
#nav .sub-nav li{
    height: 30px;
    text-align: center;
    background: #fff;
}
#nav .sub-nav li a{
    float: left;
    display: block;
    width: 74px;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    text-align: left;
    border: none;
}
 #top-line{
    position: absolute;
    top: 0;
    left: 255px;
    width: 74px;
    height: 3px;
    background: #2871d5;
    z-index: 9;
}
.login{
    float: right;
    width: 40px;
    height: 40px;
    margin: 20px 0 20px 25px;
    text-align: center;
    line-height: 40px;
}
.login .login-in{
    color: #2871d5;
    font-size: 14px;
}
 .tool-bar{
     float: right;
     margin: 15px 0 0;
 }
.tool-bar a{
    float: left;
    margin: 0 0 0 15px;
    width: 48px;
    height: 48px;
    background: url("https://guanjia.qq.com/assets/images/main/ic_block.png") no-repeat;
}
.tool-bar .mobile{
    background-position: -48px 0;
}
.tool-bar .mobile:hover{
    background-position: -48px -48px;
}
.tool-bar .mac{
    background-position: 0 0;
}
.tool-bar .mac:hover{
    background-position: 0 -48px;
}
.tool-bar .global{
    background-position: -96px 0;
}
.tool-bar .global:hover{
    background-position: -96px -48px;
}
/*------banner*/
.banner{
    width: 100%;
    height: 627px;
    background: url("../images/banner.png") no-repeat center;
}